<h3><strong>Products</strong></h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.category }}</td>
            <td>{{ this.brand }}</td>
            <td>
                <a href="/product/image/{{ this._id }}"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <a href="/product/{{ this._id }}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a href="/product/delete/{{ this._id }}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-remove fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-outline-primary" href="/product/add">
    Add New Product
</a>
<a class="btn btn-outline-primary" href="/product/filter">
    Filter Product
</a>
<br>